.outer-container {
	margin: auto;
	width: 20%;
	background-color: #559E7E;
}


.channel{
	margin: 20px;
	border: 2px solid #4AB486;
	padding: 10px;
}

.channel-image{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-right: 20px;
}

.channel-name{
	margin: 20px;
	margin-top: 40px;

}

body{
	/*background: url(https://images.unsplash.com/photo-1438576714005-7372d9c25c93?q=80&fm=jpg&s=b54271de24c7347eb5d7923b72f65f34) no-repeat center center fixed;
	background-size: cover;*/
}
/*
.streaming-icon{
	margin: 20px
}*/